.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: red;
    justify-content: space-between;
    padding: 0;
    
    .msg_list {
        height: 90%;
        padding: 10px;
        background-color: pink;
        overflow-y : scroll;
    }

    .input_form {
        height: 10%;
        background-color: greenyellow;
        padding: 20px;
    }
    
}

