$h-and-w : 300px;

.container {
    display: flex;
    justify-content: space-evenly;

    .input_form {
        height: $h-and-w;
        width: autow;
        background-color: greenyellow;
        padding: 20px;
    }
    
    .msg_list {
        height: $h-and-w;
        padding: 10px;
        width: auto;
        background-color: pink;
    }
}

