.msg_wrapper_other {
    display: flex;
    justify-content: flex-start;

    .message {

        margin: 13px 0px;
        background-color: whitesmoke;
        border-radius: 10px;
        padding: 8px 14px;
        position: relative;
    
        &:before {
            position: absolute;
            content: "";
            width: 14px;
            height: 12px;
            background-color: whitesmoke;
            left: -6px;
            bottom: -5px;
            border-radius: 6px;
            transform: rotate(319deg);
        }
    
        .username {
            color: red;
            font-weight: bold;
        }
    }    
}







.msg_wrapper_self {
    display: flex;
    justify-content: flex-end;

    .message {

        margin: 13px 0px;
        background-color: whitesmoke;
        border-radius: 10px;
        padding: 8px 14px;
        position: relative;
    
        &:before {
            position: absolute;
            content: "";
            width: 14px;
            height: 12px;
            background-color: whitesmoke;
            right: -6px;
            bottom: -5px;
            border-radius: 6px;
            transform: rotate(35deg);
        }
    
        .username {
            color: green;
            font-weight: bold;
        }
    }    
}



.msg_wrapper_bot {
    display: flex;
    justify-content: center;

    .message {

        margin: 13px 0px;
        padding: 4px 14px;
        position: relative;
        background-color: rgba(0, 0, 0, .2);
        border-radius: 10px;
        color: white;
        
        .username {
            color: green;
            font-weight: bold;
            display: none;
        }
        .colon { display: none; }
    }    
}



